################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/hypeCS/obj
/hypeCS/.vs
/hypeCS/bin/Debug/net8.0
